DASHSCOPE_API_KEY=
DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
DASHSCOPE_CHAT_MODEL=qwen3.5-plus
DASHSCOPE_TRANSLATE_MODEL=glm-4.7
MAYA_HOST=127.0.0.1
MAYA_PORT=7022
MAYA_SOCKET_TIMEOUT=30
AGENT_MAX_HISTORY_MESSAGES=20
AGENT_TOOL_REPEAT_LIMIT=3
